body{    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%; 
    height: 100pc;
    position: relative;
}

#filtros_aside{
    float: left;
    width: 12%;
    background-color: antiquewhite;    
    margin-left: 50px;
    height: 95pc;
    border: solid;
    border: 20px black;
}

#tabela-filtro{    
    width: 100%;
    text-align: left;
    padding-left: 50px;
    background-color: navajowhite;
    border-style: solid;
    border: 20px black;    
}

#grid-livros{    
    width: 98%;
    text-align: left;    
    background-color: navajowhite;      
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    gap: 20px;     
    padding-left: 2%;
}

input.large{
    width: 25px;
    height: 25px;
}

#livros_nav{
    text-align: center;
    background-color: beige;
    width: 82%;
    margin-right: 50px;
    position: absolute;
    right: 0px;    
    
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    text-align: center;           
    height: 50px;
}

header{
    text-align: center;
    background-color: antiquewhite;
}

label{
    white-space: pre;    
}
