table{
    border: 2px solid;
    border-collapse: collapse;
    width: 50%;    
}

tr:nth-child(even){background-color: #f2f2f2}

button{
    background-color: aquamarine;    
    color: black;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    padding: 3px;
    font-size: clamp(60%, 70%,80%);
    
}

body{
    transform: translate(25%);
    font-size: clamp(200%, 90%, 100%);
    font-family: Arial, Helvetica, sans-serif;
}

caption{
    padding: 10px;
}

img{
    width: 30px;
    margin-right: 10px;
}

textarea{
    resize: none;
    margin-left: 10px;
}

td{
    padding: 10px;
    padding-right: 20px;
}

th, thead{
    background-color: aqua;
    padding: 5px;
}